<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Otp Registration</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/auth/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/auth/css/style.css">
</head>

<body>

    <div class="container-fluid">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <!-- <div class="signin-image">
                        <figure><img src="/auth/images/signin-image.jpg" alt="sing up image"></figure>
                        <a href="/user/register" class="signup-image-link">Create an account</a>
                    </div> -->

                    <div class="signin-form">
                        <h2 class="form-title">OTP Verification</h2>
                        <div>
                            <% if(pass.msg){ %>
                            <%= pass.msg %>
                            <% } %>
                        </div>

                        <form method="POST" action="/otpverify" class="register-form" id="login-form">
                            <div class="form-group">
                                <h5>An OTP is send to <%= pass.email %></h5>
                                <label for="otp"><i class="zmdi zmdi-account material-icons-name"></i></label>

                                <input type="text" name="otp" id="otp" placeholder="Enter OTP" />
                                <input type="hidden" name="email" value="<%= pass.email %>">

                            </div>

                            <div class="form-group form-button">
                                <input type="submit" name="Verify" id="signin" class="form-submit" value="Verify" />
                            </div>
                        </form>
                        <!-- <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="/auth/vendor/jquery/jquery.min.js"></script>
    <script src="/auth/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>