<form method="POST" action="/user/send-otp" class="register-form">
    <div class="form-group">

        <label for="email"><i class="zmdi zmdi-email"></i></label>
        <input name="email" id="email" placeholder="Email" type="text" required />
        <input name="otpgen" id="otpgen" value="Send OTP" type="submit" />
        <!-- <button type="submit" class="btn">Send
                                    OTP</button> -->
    </div>
</form>
<form action="/user/verify-otp" method="post">
    <div class="form">
        <label for="otp"><i class="material-icons-name"></i></label>
        <input type="text" name="otp" id="otp" placeholder="Enter OTP" required />
        <input name="otpverify" id="otpverify" value="Verify OTP" type="submit" />

    </div>
</form>
<form action="/user/register" method="post">
    <div class="form-group">
        <label for="firstname"><i class="zmdi zmdi-account material-icons-name"></i></label>
        <input type="text" name="firstname" id="firstname" placeholder="First Name" required />
    </div>
    <div class="form-group">
        <label for="lastname"><i class="zmdi zmdi-account material-icons-name"></i></label>
        <input type="text" name="lastname" id="lastname" placeholder="Last Name" required />
    </div>


    <div class="form-group">
        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
        <input type="password" name="pass" id="pass" placeholder="Password" />
    </div>
    <div class="form-group">
        <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
        <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password" />
    </div>
    <div class="form-group">
        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all
            statements in <a href="#" class="term-service">Terms of service</a></label>
    </div>
    <div class="form-group form-button">
        <!-- <input type="submit" name="signup" id="signup" class="form-submit" value="Register" /> -->
        <button name="signup" id="signup">Register</button>
    </div>
</form>